.rottweiler{
    display: flex;
    justify-content: center;
    }

h2{color: brown;}
h3{color: gold;}
ul{
    margin-top:5px;
    float:right;
    list-style-type:none;
}ul li{
    display:inline-block;
}